<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <title>URL_Shortener</title>
</head>

<body>

  {{{body}}}
<script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>